body{
    margin: 1rem;
    margin-top: .3rem;
}

.container{
    display: grid;
    grid-template-rows: auto 44rem auto;
    justify-content: center;
}

header h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #4E5150;
}

.sub-title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    width: 18rem;
    color: #333333;
}

label{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #4F4F4F;
}

input{
    border: 1px solid #828282;
    height: 30px;
    width: 359px;
    box-sizing: border-box;
    border-radius: 7px;
}

input[type=checkbox]{
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 4px;
    width: 15px;
    height: 21px;
}

input[type=submit]{
    width: 78px;
    height: 30px;
    margin-left: 280px;
    border: none;
    outline: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 9px;
    line-height: 20px;
    color: #FFFFFF;
    background: #F2994A;
    border-radius: 7px;
}

input[type=number] {
    width: 20px;
    height: 14px;
    align-items: center;
    border-style: none;
    outline: none;
    background: none;
}

.myButton{
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 7px;
    width: 100px;
    height: 30px;
    padding-left: 12px;
    padding-top: 3px;
}

button{
    background: #E0E0E0;
    border: none;
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.inn-input input{
    width: 175px;
}

.inn-input{
    display: flex;
    gap: 10px;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 7rem;
}

.cover{
    display: grid;
    grid-template-rows: 53px 166px 103px;
}

.aside-grid{
    display: flex;
    align-items: center;
    gap: 10px;
}

.inner-aside{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.image img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

aside .cover{
    background: #F2F2F2;
    border-radius: 12px;
    width: 18rem;
    padding-top: 3rem;
    justify-items: center;
    margin-top: 1rem;
}

.last-aside{
    display: flex;
    border-top: 1px solid #BDBDBD;
    gap: 110px;
    height: 2.3rem;
}

.last-aside .side1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 22px;
    color: #333333;
}

.last-aside .side2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    text-align: right;
    color: #333333;

}

.inner-design p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: #4E5150;
}

.inner-design .coloured{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #F2994A;
}

.inner-design .coloured2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
    text-decoration-line: line-through;
    color: #4E5150;
}

.coloured, .coloured2{
    margin-bottom: 5px;
}

.inner-design{
    line-gap-override: 2px;
}

footer p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #BDBDBD;
}

@media screen and (max-width: 630px) {
    .wrapper{
        display: grid;
        grid-template-rows: 18rem 56rem;
    }

    section{
        grid-row: 2/span 1;
    }

    aside{
        grid-row: 1/span 1;
    }

    .container{
        display: grid;
        grid-template-rows: 5rem 80rem 4rem;
        align-items: center;
        margin-left: 16rem;
    }

    aside .cover{
        width: 23rem;
    }

    footer{
        margin-right: 7rem;
        margin-bottom: 19rem;
    }
}